
.carts {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.carts article div:first-child{ 
    height: 50%;
    border-radius: 5px;

}

.carts article {
    width: 14.3dvw;
    height: 33dvh;
    border: 1px solid #8C6239;;
    
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color: #fff;
    font-size: 13px;
    background: #0e0f11;
}



.carts article div:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
}



.carts article div img {
    width: 100%;
    height: 100%;
}

.carts article h3 {
    padding-left: 10px;
    color: #F4F1EA;
    font-weight: 200;
    font-size: clamp(10px, 100dvw, 2.3dvh);
}

.carts article h4 {
    font-size: 10px;
    padding-left: 10px;
    background: linear-gradient(
        to bottom,
      #E6C07D,
      #C89A57,
      #8C6239
    );
    font-weight: 100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(10px, 100dvw, 1.7dvh);

}   

.carts article p {
    width: 100%;
    height: clamp(10px, calc(10dvh - 3.4dvw), 40%);
    overflow: hidden;
    padding: 0 10px;
    font-size: clamp(10px, 3dvw, 1.6dvh);
}

.carts article p::after {
    content: '...';
}

.carts article span {
    width: 53%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 1.2dvh;
    border-radius: 5px;
    border: solid 1px #2D7D46;
    color: #63C77A;
    user-select: none;
    cursor: pointer;
}




@media (min-height: 801px), (max-width: 880px) {

.menu {
    display: block;
}

.carts {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 1rem;
}

.carts article{
    width: 100%;
    flex-direction: row;
    height: 20dvh;

}

.carts .all2 div:first-child{
    height: 100%;
    width: 40%;
}



.carts .all2 div:last-child{
    height: 100%;
    width: 60%;
}

.menuLateralD {
    position: fixed;
    transition: all 0.5s;

    left: -100%;
    
} 

.menuLateralA {
    left: 0;
}

}


