.portada {
    height: 20dvh;
    font-size: 1.9dvh;
    background-image: url('../img/ac08393b-6ebd-4832-84b7-99c15d034323.png');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 10px;
}




.portada p {
    color: #ff9900;
    width: 50%;
    z-index: 10;
}

.presentacion {
    border-top: 10px;
    width: 98%;
    margin: 1% auto;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
}

.all2 div:first-child {
    background-image: url('../img/game.jpeg');
    background-position: center;
    background-size: 90%;
}

